{% extends 'base.html' %}

{% block content %}

 <div class="container">
     <h1>Get your average height</h1>

     <form action="" method="POST">
        <label for="emal" class="form-label">Email</label>
        <input type="email" class="from-control" name="email" placeholder="Enter email...">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" name="subject" class="form-control" placeholder="Enter subject...">
        <label for="message" class="form-label"></label>
        <textarea name="message" id="" cols="30" rows="5" placeholder="Enter message..."></textarea>
     </form>
 </div>
{% endblock %}